# Git papkasi
.git
.github

.env

# O'rnatilgan kutubxonalar (konteyner ichida qayta o'rnatiladi)
node_modules

# Build natijalari (konteyner ichida qayta yaratiladi)
dist

# Log fayllar
npm-debug.log

# Docker fayllarining o'zi
Dockerfile
.dockerignore
docker-compose.yml
